.main
  .container.top-padding-med
    form.form-inline.float-right
      .form-group
        input.form-control(ng-model="searchText", placeholder="Filter")
      .form-group
        select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
    table.table.table-hover
      thead.thead-light
        tr
          th Title
          th Publish Date
        tbody
          tr(ng-repeat="show in shows | filter: searchText | orderBy: sortOrder")
            td
              a(href="/shows/{{show._id}}") {{show.title}}
            td {{show.published | date }}