.main
  .container
    table.table.table-hover
      thead.thead-light
        tr
          th Title
          th Publish Date
        tbody
          tr(ng-repeat="show in shows")
            td {{show.title}}
            td {{show.published | date }}