div(ng-controller="mvNavBarLoginCtrl")
  form.form-inline(ng-hide="identity.isAuthenticated()")
    ul.nav.navbar-nav
      li
        a(href="/signup") Sign Up
    .form-group
      input.form-control(placeholder="Email", ng-model="username")
    .form-group
      input.form-control(type="password", placeholder="Password", ng-model="password")
    button.btn.btn-primary(ng-click="signin(username, password)") Sign In
  ul.nav.navbar-nav(ng-show="identity.isAuthenticated()")
    li.dropdown
      a.dropdown-toggle(href="", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
      ul.dropdown-menu(aria-labelledby='dropdownMenuButton')
        li.dropdown-item(ng-show="identity.currentUser.isAdmin()")
          a(href='/admin/users') User Admin
        li.dropdown-item
          a(href='#' ng-click="signout()") Sign out
