.card
  .card-header.text-center.card-header-info New shows
  .card-body
    .row(ng-repeat="show in shows | orderBy:'published':true | limitTo: 10")
      .col-md-3 {{show.published | date: 'MMM d'}}
      .col-md-9
        a(href="/shows/{{show._id}}") {{show.title}}
